<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<p>Filter by Category:
  <% Category.all.each do |category| %>
    <span
      class="badge badge-default badge__category"
      data-category-id=<%= category.id %>
    >
      <%= category.title %>
    </span>
  <% end %>
</p>
<%= link_to 'New Question', new_question_path, {class: "btn btn-success"} %>

<hr>

<div class="questions">
  <%= render 'question_list' %>
</div>
