<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<%= link_to 'New Question', new_question_path, {class: "btn btn-success"} %>

<hr>

<% @questions.each do |question| %>
  <h3><%= link_to question.title, question %></h3>
  <p><%= link_to question.description, question %></p>
  <% if question.user == current_user %>
    <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-info' %>
    <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure you want to delete this question?' }, class: 'btn btn-danger' %>
  <% end %>
  <hr>
<% end %>
