<p id="notice"><%= notice %></p>

<h3><%= @question.title %></h3>
<p><%= @question.description %></p>
<hr>

<strong>Answers:</strong>
<% if @answers.any? %>
  <p>
    <ul>
      <% @answers.each do |answer| %>
        <li><%= link_to answer.content, question_answer_path(@question, answer) %></li>
      <% end %>
    </ul>
  </p>
<% else %>
  <p>No one has answered this question yet. Be the first!</p>
<% end %>

<hr>

<%= link_to 'New Answer', new_question_answer_path(@question), class: 'btn btn-success' %>
<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-info' %>
<%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure you want to delete this question?' }, class: 'btn btn-danger' %>
<%= link_to 'Back to all questions', questions_path, class: 'btn btn-warning' %>
